{% ckan_extends %}

{% block footer_content %}
  {% if not h.vigan_is_embedded() %}
    <div class="site-footer__grid">
      <div>
        <h4>About</h4>
        <p>The official open data portal of the City Government of Vigan, Ilocos Sur.</p>
      </div>
      <div>
        <h4>Links</h4>
        <ul class="site-footer__list">
          <li><a href="{{ h.url_for('dataset.search') }}">Datasets</a></li>
          <li><a href="{{ h.url_for('organization.index') }}">Organizations</a></li>
          <li><a href="/api-docs">API</a></li>
          <li><a href="/about">About Us</a></li>
        </ul>
      </div>
      <div>
        <h4>Contact</h4>
        <p>City Government of Vigan</p>
        <p>Ilocos Sur, Philippines</p>
        <p><a href="mailto:opendata@vigan.gov.ph">opendata@vigan.gov.ph</a></p>
      </div>
    </div>
    <div class="site-footer__bottom">
      &copy; 2025 City Government of Vigan. All rights reserved.
    </div>
  {% endif %}
{% endblock %}

{% block footer_attribution %}{% endblock %}
{% block footer_lang %}{% endblock %}
{% block footer_nav %}{% endblock %}
